@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload-book {
  width: 100%;
  padding: 1.6rem;

  @include tablet {
    padding: 1.6rem 2.4rem;
  }

  @include desktop {
    padding: 1.6rem 3.6rem;
  }

  &__container {
    max-width: 102rem;
    margin: 0 auto;
    border: 1px solid $primary-color-1;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    background-color: $secondary-color-2;
  }

  &__form {
    @include flex(row, space-between, center, wrap);
  }

  &__title {
    text-align: center;
    margin-bottom: 1.6rem;
  }

  &__label {
    width: 100%;
    margin-bottom: 1rem;

    @include tablet {
      width: 45%;
    }
  }

  &__textarea-label {
    @extend .upload-book__label;

    @include tablet {
      width: 100%;
    }
  }

  &__input {
    @include size(100%, 3rem);
    border-radius: 0.6rem;
    outline: none;
    border: 1px solid $primary-color-1;
    padding-left: 1rem;
    font-family: inherit;
  }

  &__textarea {
    @extend .upload-book__input;
    height: 40rem;
    padding-top: 1rem;
    resize: none;
    font-family: inherit;

    @include tablet {
      @include size(100%, 25rem);
    }
  }

  &__button-container {
    @include size(100%, 5rem);

    @include tablet {
      @include flex(row, center, center, initial);
      margin-top: 1.6rem;
    }
  }

  &__button {
    @include flex(initial, center, center, initial);
    @include size(100%, 4rem);
    background-color: $primary-color-3;
    border-radius: 0.6rem;
    border: 2px solid $primary-color-1;
    box-shadow: 0 0.3rem $primary-color-1;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primary-color-1;

    &:active {
      box-shadow: none;
      margin: 0.3rem 0.3rem 0 0;
    }

    @include tablet {
      width: 30rem;
    }
  }
}
