@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.delete-book {
  width: 100%;
  padding: 1.6rem;

  @include tablet {
    padding: 1.6rem 2.4rem;
  }

  @include desktop {
    padding: 1.6rem 3.6rem;
  }

  &__container {
    max-width: 102rem;
    margin: 0 auto;
    border: 1px solid $primary-color-1;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    background-color: $secondary-color-2;
    text-align: center;
  }

  &__buttons-container {
    @include size(100%, 10rem);
    max-width: 75rem;

    @include tablet {
      @include flex(row, space-between, center, initial);
      margin: 1.6rem auto;
    }
  }

  &__button {
    @include flex(initial, center, center, initial);
    @include size(100%, 4rem);
    background-color: $primary-color-3;
    border-radius: 0.6rem;
    border: 2px solid $primary-color-1;
    box-shadow: 0 0.3rem $primary-color-1;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primary-color-1;
    margin-top: 1.6rem;

    &:active {
      box-shadow: none;
      margin-top: 1.9rem;
    }

    @include tablet {
      width: 30rem;
    }
  }
}
