@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.book-info {
  &__container {
    @include flex(column, space-between, center, nowrap);

    @include tablet {
      @include flex(row, space-between, center, wrap);
    }

    @include desktop {
      @include flex(row, space-between, center, wrap);
    }
  }

  &__cover {
    @include size(22rem, 30rem);
    border-radius: 0.6rem;
    border: 1px solid $primary-color-1;
    margin-bottom: 1.6rem;

    @include tablet {
      @include size(40rem, 55rem);
    }

    @include desktop {
      margin-right: 1.6rem;
    }
  }

  &__title {
    width: 22rem;
    margin: 0.5rem auto;

    @include tablet {
      width: 25rem;
    }

    @include desktop {
      width: 55rem;
    }
  }

  &__content {
    color: $base-color-1;
  }

  &__add-cart-container {
    width: 100%;
    height: 5rem;
    margin-top: 1.6rem;

    @include tablet {
      height: 6rem;
    }
  }

  &__button {
    @include size(100%, 3.5rem);
    background-color: $primary-color-3;
    border-radius: 0.6rem;
    border: 2px solid $primary-color-1;
    box-shadow: 0 0.3rem $primary-color-1;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primary-color-1;

    &:active {
      box-shadow: none;
      margin: 0.3rem 0.3rem 0 0;
    }

    @include tablet {
      height: 5rem;
    }
  }
}
