@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about-author {
  &__container {
    @include flex(column, space-between, center, nowrap);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid $primary-color-1;

    @include tablet {
      @include flex(row, space-evenly, center, wrap);
      width: 100%;
      max-width: 102rem;
      padding-bottom: 2rem;
    }
  }

  &__portrait {
    width: 100%;
    margin: 0 auto;
    max-width: 102rem;
    border-radius: 0.6rem;

    @include tablet {
      width: 30rem;
      margin: 0;
    }
  }

  &__info-container {
    @include tablet {
      width: 30rem;
    }
  }

  &__title {
    margin: 1.6rem 0;
  }

  &__content {
    color: $base-color-1;
  }
}
