@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile-author {
  &__container {
    @include flex(column, space-between, center, nowrap);
    width: 100%;
    margin-bottom: 1.6rem;

    @include tablet {
      @include flex(row, space-between, center, wrap);
      width: 100%;
      max-width: 102rem;
      padding-bottom: 2rem;
    }
  }

  &__portrait {
    width: 100%;
    margin: 0 auto;
    border-radius: 0.6rem;

    @include tablet {
      width: 55%;
      margin: 0;
    }
  }

  &__info-container {
    @include tablet {
      width: 42%;
    }
  }

  &__title {
    margin: 1.6rem 0;
  }

  &__content {
    color: $base-color-1;
  }

  &__edit-delete-container {
    @include flex(row, space-between, center, nowrap);
    width: 50%;
    margin: 4rem auto 0 auto;

    @include tablet {
      width: 25%;
      margin: 0;
      padding-top: 3rem;
    }
  }

  &__icon {
    width: 3rem;
  }
}
