@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    width: 100%;
    padding: 1.6rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $primary-color-3;

    @include tablet {
        padding: 1.6rem 2.4rem;
    }

    @include desktop {
        padding: 1.6rem 3.6rem;
    }

    &__container {
        @include flex(column, center, center, nowrap);

        @include tablet {
            @include flex(row, space-between, center, initial);
            max-width: 102rem;
            margin: 0 auto;
        }
    }

    &__logo-link-container {
        width: 100%;

        @include tablet {
            @include flex(row, space-between, center, initial);
            width: 32rem;
        }
    }

    &__logo-link {
        @include flex(row, center, center, nowrap);
        width: 100%;

        @include tablet {
            justify-content: flex-start;
            width: 14rem;
        }
    }

    &__logo {
        width: 12rem;
    }

    &__page-links {
        @include flex(row, space-evenly, center, nowrap);
        width: 100%;
        padding: 2.4rem 0;

        @include tablet {
            width: 24rem;
        }
    }

    &__signup-container {
        @include flex(row, space-between, center, nowrap);
        width: 100%;

        @include tablet {
            align-items: flex-start;
            width: 19rem;
        }
    }
}
