@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.featured-books {
    padding: 1.6rem 0;
    margin: 2rem 0;
    width: 100%;
    border: 1px solid $primary-color-1;
    border-radius: 6px;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: $base-color-1;
    background-color: $secondary-color-2;

    @include tablet {
        width: 30%;
    }

    @include desktop {
        width: 30rem;
    }

    &__book-cover {
        @include size(23rem, 30rem);
        margin: 1rem 0;
        border: 1px solid $primary-color-1;
        border-radius: 0.6rem;

        @include tablet {
            @include size(18rem, 22rem);
        }

        @include desktop {
            @include size(25rem, 32rem);
        }
    }
}
