@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.books {
    width: 100%;
    padding: 1.6rem;

    @include tablet {
        padding: 1.6rem 2.4rem;
    }

    @include desktop {
        padding: 1.6rem 3.6rem;
    }

    &__container {
        @include tablet {
            max-width: 102rem;
            margin: 0 auto;
        }
    }
}
