@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.success-page {
  &__container {
    text-align: center;
    max-width: 50rem;
    margin: 5rem auto;
    border: 1px solid $primary-color-1;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    background-color: $secondary-color-2;
  }

  &__link-container {
    @include flex(row, space-between, center, nowrap);
    @include size(100%, 5rem);
  }

  &__link {
    @include flex(initial, center, center, initial);
    @include size(100%, 4rem);
    max-width: 30rem;
    margin: 0 auto;
    background-color: $primary-color-3;
    border-radius: 0.6rem;
    border: 2px solid $primary-color-1;
    box-shadow: 0 0.3rem $primary-color-1;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primary-color-1;

    &:active {
      box-shadow: none;
      margin-top: 1.9rem;
    }
  }
}
