@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.authors-list {
  &__container {
    @include tablet {
      @include flex(row, space-between, center, wrap);
    }

    @include desktop {
      @include flex(row, space-between, center, nowrap);
    }
  }

  &__author-portrait {
    width: 100%;
    border-radius: 0.6rem;

    @include tablet {
      @include size(19.5rem, 25rem);
    }

    @include desktop {
      @include size(26rem, 34rem);
    }
  }

  &__author-info-container {
    @include tablet {
      width: 70%;
    }

    @include desktop {
      width: 60%;
    }
  }

  &__title {
    color: $primary-color-1;
    margin: 1.6rem 0;

    @include tablet {
      margin: 1.6rem;
    }
  }

  &__featured-title {
    @extend .authors-list__title;
  }

  &__author-info,
  &__book-title {
    color: $base-color-1;
    margin-left: 0.25rem;
  }

  &__featured-book-container {
    @include flex(column, center, center, nowrap);
    width: 100%;

    @include tablet {
      margin-top: 1.6rem;
    }

    @include desktop {
      text-align: center;
      width: 46rem;
      margin: 0;
      padding-bottom: 1.6rem;
    }
  }

  &__featured-book {
    @include size(22.5rem, 28rem);
    border-radius: 0.6rem;
    border: 1px solid $primary-color-1;

    @include tablet {
      @include size(25rem, 35rem);
    }
  }
}
